# Python files
*.pyc

# Datasets
data/**/*.csv
data/**/*.feather
data/**/*.gz
data/**/*.json
data/**/*.pdf
data/**/*.xls
data/**/*.xlsx

# Notebooks
data/**/*.ipynb

# Whitelists
!data/bbcdebate/**/*.csv
